body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}

.lugares-container {
    background: url('/images/side-view-huge-decorated-served-table.jpg') no-repeat center center/cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Cambiado a flex-start para evitar centrar verticalmente */
    padding: 20px;
    color: white;
}

h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #ffffff;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}

.btn-back {
    align-self: flex-start;
    margin: 20px;
    padding: 10px 20px; /* Aumentado el padding horizontal */
    background-color: #0f1e2b;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-back:hover {
    background-color: #095ea3;
}

.row {
    width: 100%; /* Asegurarse de que la fila ocupe el 100% del contenedor */
}

.card {
    border: none;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease;
    background: rgba(255, 255, 255, 0.9);
    min-height: 350px; /* Ajuste de altura mínima */
}

.card:hover {
    transform: scale(1.05);
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card-title {
    font-weight: bold;
    color: #343a40;
}

.card-text {
    color: #6c757d;
}

.btn-primary {
    background-color: #0f1e2b;
    border: none;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.search-bar {
    margin-bottom: 20px; /* Espacio debajo de la barra de búsqueda */
}

input[type="text"] {
    width: 100%; /* Ancho completo para la barra de búsqueda */
    padding: 10px; /* Espaciado interno */
    border: none;
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra para un efecto de profundidad */
}
